.block-futer {
    width: 100%;   
}

.block-futer__el {
    width: 33.3%;
    height: 200px;
    box-sizing: border-box;
    padding: 10px;
    
}

.block-futer__el_center {
    border-left: 2px solid rgb(204, 202, 202);
    border-right: 2px solid rgb(204, 202, 202);
}

.block-futer__el__h3 {
    text-align: center;
}


.block-futer__el__p {
    padding: 10px;

}
